<script src="https://maps.googleapis.com/maps/api/js?sensor=true&libraries=places"></script>

<div class="container">


        <div class="row">
          <div class="col-sm-12">
              <div class="class-with-space white">


                <div class="row">
                    <div class="col-sm-6">

                      <% if @user.image != nil %>

                      <%= image_tag("#{@user.image}", :class => "dashboard-image") %>

                      <% else %>

                      <%= image_tag("noprof.png", :class => "dashboard-image") %>

                      <% end %>


                      <h1 class="dashboard-username"> <%= @user.username %> </h1>
                      <p class="dashboard-total">8374627 Points</p>
                      <p class="dashboard-rank">Current Ranking: #93</p>
                    </div>

                    <div class="col-sm-6">

                      <h1 class="dashboard-welcome">Welcome back, <%= @user.username %></h1>

                    </div>

                </div>


                <hr />


                <div class="row">
                  <div class="col-sm-8">
                    <h3>Map</h3>
                    <div class="map-container">
                      <div id="map"></div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <h3>Add Visit</h3>
                    <form class="" action="index.html" method="post">
                      <label>Select restaurant:</label>
                      <select>
                        <option>Joe's Pizza</option>
                        <option>Tony's Pizza</option>
                        <option>Bob's Pizza</option>
                      </select>
                      <label>Write about your experience:</label>
                      <textarea name="Text1" rows="10" placeholder="Test"></textarea>
                      <input type="submit" value="Add Visit">
                    </form>
                  </div>
                </div>

            </div>
          </div>
        </div>

      </div>
