<input type="hidden" id="api-token" value="<%= @user.token %>">






<h3>welcome back <%= @user.username %></h3>


<%= button_to "Log Out", '/sessions', method: :delete %>

<form class="new-visit" action="/api/visits" method="post">
    <input type="text" name="visit[review]" placeholder="...review">
    <input type="submit" name="review" value="New Visit Review">
</form>





<ul class="visits">

</ul>


<%= javascript_include_tag 'users' %>
