<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script>

  $(document).ready(function(){


    $(function() {
      $( "#accordion" ).accordion();
    });



  });
</script>


<div class="container">


        <div class="row">
          <div class="col-sm-12">
              <div class="class-with-space white">



                <h1 class="leaderboard-heading">Leaderboard</h1>

                <hr />


                <h4 class="leaderboard-title black">Rank &nbsp; Name <span class="right-float">Points</span> </h4>
                <div id="accordion">

                  <h4 class="leaderboard-title gradient"><span class="leaderboard-rank">#1</span>  &nbsp; &nbsp;   Nicholas123 <span class="leaderboard-points">234432</span>  </h4>
                  <div class="leaderboard-box">
                    <div class="leaderboard-screen">
                        <img class="leaderboard-prof" src="http://cdn.financebuzz.io/images/2015/06/05/nicholascage.jpg">
                        <h1 class="leaderboard-name">Nicholas123</h1>
                        <p class="leaderboard-points-alt">234432 Points</p>
                        <p class="leaderboard-bio">This is my hip bio. I love pizza. Pizza pizza pizza.</p>
                    </div>
                  </div>

                  <h4 class="leaderboard-title gradient"><span class="leaderboard-rank">#2</span> &nbsp; &nbsp; Alan Rice   <span class="leaderboard-points">458432</span>  </h4>
                  <div class="leaderboard-box">
                    <div class="leaderboard-screen">
                      <img class="leaderboard-prof" src="http://cdn.financebuzz.io/images/2015/06/05/nicholascage.jpg">
                      <h1 class="leaderboard-name">Nicholas123</h1>
                      <p class="leaderboard-points-alt">234432 Points</p>
                      <p class="leaderboard-bio">This is my hip bio. I love pizza. Pizza pizza pizza.</p>
                    </div>
                  </div>

                  <h4 class="leaderboard-title gradient"><span class="leaderboard-rank">#3</span>  &nbsp; &nbsp;   Bob Saget    <span class="leaderboard-points">234382</span>  </h4>
                  <div class="leaderboard-box">
                    <div class="leaderboard-screen">
                      <img class="leaderboard-prof" src="http://cdn.financebuzz.io/images/2015/06/05/nicholascage.jpg">
                      <h1 class="leaderboard-name">Nicholas123</h1>
                      <p class="leaderboard-points-alt">234432 Points</p>
                      <p class="leaderboard-bio">This is my hip bio. I love pizza. Pizza pizza pizza.</p>
                    </div>
                  </div>

                  <h4 class="leaderboard-title gradient"><span class="leaderboard-rank">#4</span>  &nbsp; &nbsp;   Raymond Wang   <span class="leaderboard-points">12394</span>  </h4>
                  <div class="leaderboard-box">
                    <div class="leaderboard-screen">
                      <img class="leaderboard-prof" src="http://cdn.financebuzz.io/images/2015/06/05/nicholascage.jpg">
                      <h1 class="leaderboard-name">Nicholas123</h1>
                      <p class="leaderboard-points-alt">234432 Points</p>
                      <p class="leaderboard-bio">This is my hip bio. I love pizza. Pizza pizza pizza.</p>
                    </div>
                  </div>

                </div>

              </div>
          </div>
        </div>


</div>
