<head>
  <script src="https://maps.googleapis.com/maps/api/js?sensor=true&libraries=places"></script>
</head>
<input type="text" id="autocomplete" placeholder="find the pizza!">
  <div id="map"></div>
