<head>
  <script src="https://maps.googleapis.com/maps/api/js?sensor=true&libraries=places"></script>
  <%= javascript_include_tag 'map', 'data-turbolinks-track' => true %>

</head>


  <button id="refresh">Refresh</button>
  <button class="pick">Click me now!</button>
  <input type="text" id="autocomplete">
  <div id="map"></div>
