// html, body {
//   height: 100%;
//   margin: 0;
//   background-color: blue;
// }

#map{
  height: 100%;
  margin: 0;
}

.map-container {
  height: 500px;
  margin: 0;
  border: 8px solid #e3e3e3;
}


.bigLoader{
  display:none;
  height: 1em;
}
