/* Custom Stylesheet for PizzaQuest */




/*

Contents:

  1. General
  2. Helpers --> Quick style fixes used in multiple places
  3. Forms
  4. Page-specific
      4a. Homepage
      4b. Dashboard page
      4c. Profile page
      4d. Leaderboard

*/



/* 1. General  */

html, body {
  height: 100%;
  margin: 0;
}

body {
  background: url('background3.jpg'); /* 6 background images in image folder (backgroundX.jpg) */
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

/*#map{
  height: 200px;
  margin: 0;
}

.map-container {
  height: 500px;
  margin: 0;
  border: 8px solid #e3e3e3;
}*/

.change-nav { /* Makes styling changes to navbar at the top of every page */
  background-color: #fafafa;
  border: 0px;
  border-bottom: 1px solid #e3e3e3;
  border-radius: 0px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.navbar-brand { /* Adjusts the position of the logo to center it with the other links */
  margin-top: -2px;
}





/* 2. Helpers */

.block { /* Adds grey background w/ subtle border to a div */
  box-sizing: border-box;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #f1f1f1;
  border: 1px solid #e3e3e3;
}

.class-with-space { /* Adds extra padding/margin to a div */
  margin: 30px 10px 10px 10px;
  padding: 20px;
}

.red { /* Adds red background to a div */
  background-color: rgba(235, 77, 61, 0.9); /* HEX: #EB4D3D */
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.white { /* Adds white background to a div */
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  padding-bottom: 70px; /* This is mainly here to keep the submit button inside the div on the homepage */
}

.col-centered { /* Lets you center a column of any width */
    float: none;
    margin: 0 auto;
}

.extra-bottom { /* Adds extra space to the bottom of a div/element */
  padding-bottom: 70px;
}

.gradient { /* Adds gradient to the background of a div */
  background-image:
      linear-gradient(
        to top right,
        #f06d06, red
      );
}

.black {
  background-color: #000000;
  color: white;
}

.right-float {
  float: right;
}






/* 3. Forms */

label {
  margin-top: 8px;
}

form {
  box-sizing: border-box;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #cccccc;
  background-color: #F1F1F1;
}

input[type="password"] {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #cccccc;
  background-color: #F1F1F1;
}

input[type="submit"] {
  float: right;
  margin-top: 8px;
  border: 0px;
  padding: 10px;
  background-color: #EB4D3D;
  font-size: 18px;
  color: white;
}

select {
  width: 100%;
}

textarea {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #cccccc;
  background-color: #F1F1F1;
}







/* 4. Page-specific */


      /* 4a. Homepage */

      .leaderboard-header {
        margin: 0px 4px 10px 12px;
        border-bottom: 1px dotted #fff;
        color: white;
        text-transform: uppercase;
        text-shadow: 1px 1px 0px #666666;
      }

      ol li {
        padding: 4px;
        font-size: 16px;
        color: white;
        text-shadow: 1px 1px 0px #666666;
      }

      .points {
        float: right;
        color: gold;
        font-weight: bold;
      }

      .red h3 { /* Styles the "Top Ten" header atop the leaderboard */
        font-size: 30px;
        text-align: center;
        text-transform: uppercase;
        color: gold;
        text-shadow: 1px 1px 0px #666666;
      }





      /* 4b. Dashboard */

      .dashboard-image {
        border-radius: 50%;
        width: 100px;
        height: 100px;
        margin: 10px;
        float: left;
      }

      .dashboard-welcome {
        float: right;
        font-size: 30px;
        color: #cccccc;
        text-align: right;
      }

      .dashboard-username {
        color: #222222;
        font-size: 20px;
      }

      .dashboard-total {
        color: #FF6347;
        font-size: 15px;
        font-weight: bold;
      }

      .dashboard-rank {
        color: #222222;
        font-size: 15px;
      }

      .map {
        box-sizing: border-box;
        width: 100%;
        border: 15px solid #e3e3e3;
      }

      .map-button {
        float: right;
        margin-left: 4px;
        border: 1px solid #EB4D3D;
        padding: 4px;
        background-color: white;
        font-size: 14px;
        color: #EB4D3D;
      }

      .map-button:hover {
        background-color: #EB4D3D;
        color: white;
      }




      /* 4c. Profile */

      .profile-username {
        text-align: center;
        font-size: 45px;
        color: #222222;
      }

      .profile-image {
        margin-left: 20px;
        margin-right: 30px;
        margin-bottom: 20px;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        float: left;
      }

      .profile-points {
        font-size: 18px;
        font-weight: bold;
        color: #FF6347;
      }

      .profile-ranking {
        font-size: 18px;
        font-weight: bold;
        color: #222222;
      }

      .profile-bio {
        font-size: 14px;
        color: #888888;
      }

      .profile-places {
        height: 372px;
        overflow: scroll;
      }




      /* 4d. Leaderboard */

      .leaderboard-heading {
        text-align: center;
        font-size: 40px;
        font-weight: bold;
        font-family: 'Press Start 2P', cursive;
        text-transform: uppercase;
        color: #222222;
        text-shadow: 4px 4px 0px #e3e3e3;
      }

      .leaderboard-title {
        margin: 0 0 1px 0;
        padding: 10px;
        /*background-color: #cccccc;*/
        font-size: 12px;
        color: white;
        font-family: 'Press Start 2P', cursive;
        text-shadow: 1px 1px 0px black;
        cursor: pointer;
      }

      .leaderboard-box {
        box-sizing: border-box;
        margin: 1px 0 1px 0;
        background: url('pizzapattern.gif');
        text-align: center;
      }

      .leaderboard-screen {
        box-sizing: border-box;
        background-color: rgba(255, 255, 255, 0.8);
        padding: 40px;
        height: 100%;
      }

      .leaderboard-rank {
        color: gold;
      }

      .leaderboard-points {
        float: right;
        font-size: 12px;
        font-family: 'Press Start 2P', cursive;
        color: gold;
        text-shadow: 1px 1px 0px black;
      }

      .leaderboard-points-alt {
        font-weight: bold;
        /*font-family: 'Press Start 2P', cursive;*/
      }

      .leaderboard-prof {
        width: 250px;
        height: 250px;
        border: 10px solid white;
        border-radius: 50%;
      }

      .leaderboard-name {
        /*font-family: 'Press Start 2P', cursive;*/
      }







.visits {
  list-style-type: none;
  padding: 0;
}

.visits li {
  list-style-type: none;
  display: block;
  width: 100%;
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #cccccc;
  border-radius: 4px;
}

.visits button {
  float: right;
}









#modal {
  top: 0;
  left: 0;
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .4);
}

#close-modal {
  position: absolute;
  left: 96%;
  z-index: 2;
  font-size: 1.5em;
  border-radius: 50%;
  border: 3px solid white;
  height: 1em;
  width: 1em;
  text-align: center;
  background-color: black;
  line-height: 1;
  color: white;
}

#close-modal:hover {
  cursor: pointer;
}

.modal-content {
  position: relative;
  margin: 0 30%;
  background-color: white;
  top: 10%;
  width: 40%;
}

.modal-body {
  position: absolute;
  width: 100%;
  top: 10px;
  background-color: white;
  border: 10px solid white;
  z-index: 1;
}

/*.modal-inner {
  width: 400px;
  height: 350px;
  background: url('gif2.gif');
}*/

.modal-inner h3 {
  color: black;
  /*text-shadow: 0px 0px 10px #000000;*/
  text-align: center;
}

.dashboard-modal {
  width: 100%
}
